### Workflow goals
The data science solutions workflow solves for 7 major goals:
1. **Classifying** <br>
We may want to classify or categorize our samples. We may also want to understand the implications or correlation of different classes with our solution goal.
2. **Correlating** <br>
Which features within the dataset contribute significantly to our solution goal? Statistically speaking is there a **correlation** among a feature and solution goal? This can be tested both for numerical and categorical features in the given dataset. We may also want to determine correlation among features other than survival for subsequent goals and workflow stages.
3. **Converting** <br>
For modeling stage, one needs to prepare the data. Depending on the choice of model algorithm one may require all features to be converted to numerical equivalent values. So for instance converting text categorical values to numeric values.
4. **Completing** <br>
Data preparation may also require us to estimate any missing values within a feature. Model algorithms may work best when there are no missing values.
5. **Correcting** <br>
We may also analyze the given training dataset for errors or possibly inaccurate values within features and try to corrent these values or exclude the samples containing the errors. One way to do this to detect any outliers among our samples or features. we may also completely discard a feature if it is not contributing to the analysis or may significantly skew ther esults
6. **Creating** <br>
Can we create new features based on an existing feature or a set of features, such that the new feature follows the correlation, conversion, completeness goals.
7. **Charting** <br>
How to select the right visualization plots and charts depending on nature of the data and the solution goals

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
test = pd.read_csv('./data/test.csv')
train = pd.read_csv('./data/train.csv')

In [9]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [10]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')